.ext-email-button {
    height: 40px;
    width: 36px;
    background:none;
    box-shadow: none;
    border:none;
    outline: 0;
    overflow: visible;
    position: relative;
    vertical-align: top;
    margin-left: 5px;
    margin-top: -5px;
    cursor: pointer;
    transition: opacity .7s;
    opacity: .5;
}

.ext-email-button:hover {
    opacity: 1;
}

.ext-email-button img {
    width:100%;
}
